body {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer-02 {
  background:  #1354AE;
  height: min-content;
  position: relative;
  width: 100%;
  top: 300px;
}

.gear1 {
  position: absolute;
  left: 8.7%;
  top: 55px;
}

.gear2 {
  position: absolute;
  left: 7%;
  transform: rotate(40deg);
}

.fa-gear {
  position: absolute;
  font-size: 70px;
  color: #1354AE;
}

.gear1 .fa {
  animation: spin 4s linear infinite;
}

.gear2 .fa {
  animation: spin 4s linear infinite reverse;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

.footer-02 .footer-logo {
  background-color: white;
  display: flex;
  justify-content: center;
}

.footer-02 .footer-logo img {
  width: 300px;
  height: 75px;
  margin-bottom: 50px;
}
.footer-02 .footer-logo .bulb img{
  position: absolute;
  right: 15px;
  top: 40px;
  width: 130px;
  height: 120px;
  animation: neon3 1.5s ease-in-out infinite alternate;
  border-radius: 100%;
}

.footer-02 .container-fluid {
  border-top: 1px solid black;
}

.footer-02 .subscribe-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-02 .subscribe-1 .subscribe-5 .form-group {
  margin-top: -30px !important;
  display: inline-flex;
  position: relative;
}

.footer-02 .subscribe-1 .subscribe-5 .email-text {
  padding: 20px 80px 20px 50px;
  outline: none;
  border: 2px solid #000000;
  border-radius: 40px;
  width: 350px;
}

.footer-02 .subscribe-1 .subscribe-5 .email-button {
  background-color: #1877f2;
  outline: none;
  border: none;
  color: white;
  border-radius: 50px;
  border: 0.5px solid black;
  right: 10px;
  top: 7px;
  position: absolute;
  padding: 15px 20px;
}

.row-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right:6%;
  margin-left: 6%;
}
.row-flex .content h2{
  color: #8fbdee;
}
.row-flex .quotes{
  color: rgba(255, 255, 103, 0.826);
  font-size: 18px;
}
.row-flex .content .para {
  display:flex;
  flex-wrap: wrap;
  width: 300px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.row-flex p{
  color: rgb(235, 230, 230);
}
.row-flex a{
  text-decoration: none;
  color: black;
}
/*Google map*/
.google-map{
  margin: 20px 0px;

}
.google-map .icon {
  text-align: center;
  font-size: 30px;
}
.google-map .icon i{
  color:#4292e7;
}
.google-map .parag{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

/* informaion content*/
.information h2 {
  text-align: center;
  position: relative;
}
.information h2::before{
  content:"";
  width: 75px;
  height: 5px;
  background-color:rgb(0, 157, 255);
  border-radius: 10px;
  position: absolute;
  bottom: -10px;
}

.info ul {
  display: inline-flex;
  list-style: none;
}

.info .navbar-nav {
  margin-left: 80px;
}

.info li {
  padding-left: 20px;
}

.info a {
  text-decoration: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: none;
  transition: 0.8s;
}
.info a:hover{
  color: #79aef4;
}

/* news letter*/
.information .news-letter input {
  margin-left: 60px;
  width: 300px;
}
.dk-footer-form {
  position: relative;
}

.dk-footer-form input[type=email] {
  padding: 14px 28px;
  border-radius: 50px;
  background: #2e2e2e;
  color: white;
  border: 1px solid #2e2e2e;
  outline: none !important;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
  color: #878787;
  font-size: 14px;
  outline: none;
}

.dk-footer-form button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 12px 15px 12px 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #007bff;
  background: #007bff;
  color: #fff;
  font-size: 20px;
}

.dk-footer-form button:hover {
  background-color: #4292e7;
  transition: 0.7s;
}

.dk-footer-form button:hover {
  cursor: pointer;
}
/* social icons*/
.social {
  border-left: 1px solid rgb(55, 36, 36);
}

.footer-heading {
  text-align: left;
  margin-left: 20px;
}

.footer-social-link ul {
  list-style: none;
}

.footer-social-link li {
  margin-bottom: 15px;
}

.footer-social-link a {
  text-decoration: none;
}

.footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  color: #fff;
}

.footer-social-link a i.fa-facebook-f {
  background-color: #1877f2;
  transition: font-size 0.5s ease-in-out;
}

.footer-social-link a i.fa-x-twitter {
  background-color: #14171a;
  color: white !important;
  transition: font-size 0.5s ease-in-out;
}

.footer-social-link a i.fa-instagram {
  transition: font-size 0.5s ease-in-out;
  background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
  transition: font-size 0.3s ease-in-out;
}

.footer-social-link a i:hover {
  color: #000;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* contact section */
.partner-wrap .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-right: 15%;
  margin-left: 15%;
}

.contact-us a {
  text-decoration: none;
  margin-left: 30px;
  color: rgb(239, 234, 234);
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;

}

.contact-us span {
  color: #000;
  font-size: 20px;
}

/* copy right*/
.copyright {
  color: rgb(210, 206, 206);
  background-color: #000;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries */


@media(min-width:800px) and (max-width:1024px){
  .row-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right:2%;
    margin-left: 2%;
  }
  .information .news-letter input {
    margin-left:50px;
    width: 180px;
  }
  .footer-02 .social .border-left {
    padding-left:40px !important;
  }
}

@media(min-width: 768px){
  .partner-wrap .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-right: 0%;
    margin-left: 0%;
  }
  .contact-us a {
    text-decoration: none;
    margin-left: 10px;
    color: rgb(239, 234, 234);
    font-size: 18px;
    font-style: italic;
    display:inline-block;
    flex-direction: row;
  }
  .information {
    margin-top: 30px;
  }
  .information .news-letter {
    margin-left: -96px;
  }
  .information h2 {
    text-align:left;
    margin-top: -0px;
  }
  .information .h2{
    margin-left: 90px;
  }
  .info .navbar-nav {
    margin-left: -80px;
  }
  
  .info li {
    padding-left: 20px;
  }
  .social {
    border-left:none;
    margin-left: -120px;
  }
  .fa-gear {
    position: absolute;
    font-size: 65px;
    color: #1354AE;
  }
  .gear1 {
    position: absolute;
    left: 10%;
    top: 45px;
  }

}
@media only screen and (max-width: 430px){
  .partner-wrap{
    margin-top: -20px;
  }
  .partner-wrap .contact {
    display: flex;
    flex-direction: column !important;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 10px;
  }
  .contact-us a {
    text-decoration: none;
    margin-left: 10px;
    color: rgb(239, 234, 234);
    font-size: 18px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
  }
  .information {
    margin-top: -30px;
  }
  .information .news-letter input {
    margin-left: 0px;
    width: 180px;
  }
  .info ul {
    margin-left: -25px !important;
  }
.footer-heading {
  text-align: center;
  margin-left: 0px;
}
  .social {
    border-left: none;
    margin-bottom:-20px !important;
  }
  .footer-social-link ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
  }
  .fa-gear {
    position: absolute;
    font-size: 25px;
    color: #1354AE;
  }
  .footer-02 .footer-logo img {
    width: 150px;
    height: 50px;
    margin-bottom: 30px;
  }
  .footer-02 .footer-logo .bulb img{
    position: absolute;
    width: 70px;
    height: 70px;
  }
  .gear1 {
    position: absolute;
    left: 9%;
    top: 30px;
  }
  .gear2 {
    position: absolute;
    left: 7%;
    top: 10px;
    transform: rotate(40deg);
  }
  .footer-02 .subscribe-1 .subscribe-5 .email-text {
    width: 150px !important;
  }
  
}
