body {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  
}

/*  footer*/
.footer-02 {
  background:#1354AE;
  height: min-content;
  position: relative;
  width: 100%;
  top: 300px;
}
.gear1 {
  position:absolute;
  left:8.8% !important;
  top: 55px;
}

.gear2 {
  position: absolute;
  left: 7%;
  transform: rotate(40deg);
}

.fa-gear {
  position: absolute;
  font-size: 70px;
  color: #1354AE;
}

.gear1 .fa {
  animation: spin 4s linear infinite;
}

.gear2 .fa {
  animation: spin 4s linear infinite reverse;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

.footer-02 .footer-logo {
  background-color: white;
  display: flex;
  justify-content: center;
}

.footer-02 .footer-logo img {
  width: 300px;
  height: 75px;
  margin-bottom: 50px;
}
.footer-02 .footer-logo .bulb img{
  position: absolute;
  right: 15px;
  top: 40px;
  width: 130px;
  height: 120px;
  animation: neon3 1.5s ease-in-out infinite alternate;
  border-radius: 100%;
}

.footer-02 .container-fluid {
  border-top: 1.5px solid #1354AE;
}

.footer-02 .subscribe-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-02 .subscribe-1 .subscribe-5 .form-group {
  margin-top: -30px !important;
  display: inline-flex;
  position: relative;
}

.footer-02 .subscribe-1 .subscribe-5 .email-text {
  padding: 18px 80px 15px 50px;
  outline: none;
  border: 2px solid #000000;
  border-radius: 40px;
  width: 350px;
  font-size: larger;
}

.form-group .email-button {
  background:#007bff;
  outline: none;
  border: none;
  color: white;
  border-radius: 50px;
  border: 0.5px solid black;
  right: 5px;
  top: 4.6px;
  position: absolute;
  padding: 15px 35px;
  font-size: 15px;
  cursor: pointer;
  transition: all .6s ease-in-out;
}
.form-group .email-button:hover{
  background: radial-gradient(circle, rgba(63,94,251,1) 36%, rgba(70,202,252,1) 100%);
}
.row-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right:6%;
  margin-left: 6%;
}
.row-flex .content h2{
  color:#ffffff;
}
.row-flex .content h2 span{
  font-size: 18px;
}
.row-flex .quotes{
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 18px;
}
.row-flex .content .para {
  display:flex;
  flex-wrap: wrap;
  width: 300px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.row-flex p{
  color: rgb(255, 255, 255);
}
.row-flex a{
  text-decoration: none;
  color: black;
}
/*Google map*/
.google-map{
  margin: 20px 0px;

}
.google-map .icon {
  text-align: center;
  font-size: 30px;
  display: none;
}
.google-map .icon i{
  color:#4292e7;
  display: none;
}
.google-map .parag{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  display: none;
}

/* informaion content*/
.information h2 {
  text-align: center;
  position: relative;
}
.information h2::before{
  content:"";
  width: 75px;
  height: 5px;
  background-color:#a2cfff;
  border-radius: 10px;
  position: absolute;
  bottom: -10px;
}

.info ul {
  display: inline-flex;
  list-style: none;
}

.info .navbar-nav {
  margin-left: -20px !important;
}

.info li {
  padding-left: 20px;
}

.info a {
  text-decoration: none;
  color:#ffffff ;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: none;
  transition: 0.8s;
}
.info a:hover{
  color: #183e6f;
}

/* social icons*/

.footer-heading {
  text-align: left;
  margin-left: 20px;
}
.social{
  margin-top: 25px;
  margin-left: 50px;
}
.social .footer-social-link ul {
  list-style: none;
}

.footer-social-link li {
  margin-bottom: 15px;
}

.footer-social-link a {
  text-decoration: none;
}

.footer-social-link a i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  color: #fff;
}

.footer-social-link a i.fa-facebook-f {
  background-color: #1877f2;
  transition: font-size 0.5s ease-in-out;
}

.footer-social-link a i.fa-x-twitter {
  background-color: #14171a;
  color: white !important;
  transition: font-size 0.5s ease-in-out;
}

.footer-social-link a i.fa-instagram {
  transition: font-size 0.5s ease-in-out;
  background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
  transition: font-size 0.3s ease-in-out;
}

.footer-social-link a i:hover {
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* contact section */
.footer-02 .partner-wrap{
  border-top: 1px solid black;
  margin-top: 10px;
  background-color: #1354AE;
}
.partner-wrap .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 15%;
  margin-left: 15%;

}
.partner-wrap .contact-ul li{
  display:inline-flex;
  align-items: center !important;
  padding: 0px 85px;
  font-size: 17.5px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: all 0.5s;
}
.partner-wrap .contact-ul li a{
  display: inline;
  text-decoration: none;
  color: white;
  transition: all .5s;
}
.partner-wrap .contact-ul li a:hover{
  color:#4292e7;
}

.contact-us a {
  display: none;
  
}
.contact-us a:hover{
  color: #1877f2;
}
.contact-us span {
  color: #000;
  font-size: 18px;
}
.contact-us span::after{
  content: "_";
  color:#1354AE;
}

/* copy right*/
.copyright {
  color: rgb(210, 206, 206);
  background-color: #000;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
@media(min-width:1025px) and (max-width:2560px){
  .social h2 {
    margin-left: 35px;
  }
   .social .footer-social-link ul {
    display: block;
    margin-left: 10px;
   }

}
@media(min-width:800px) and (max-width:1024px){
  
  .row-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right:2%;
    margin-left: 2%;
  }
  .social {
    margin-top: -0px;
  }
  .social h2{
    margin-left: 0px;
  }
 
  .social .footer-social-link ul {
   display: block;
   margin-left: -20px;

  }
  .gear1 {
    position:absolute;
    left:9.5% !important;
    top: 55px;
  }
  .google-map iframe{
    margin-left: 0px !important;
  }
  .contact-us a{
    padding: 0px 40px;

  }
  .row-flex .content h2 span{
    font-size: 15px;
  }
  .google-map iframe{
    margin-left: -50px;
  }
  .partner-wrap .contact {
    margin-left: 10%;
    margin-right: 10%;
  }
  .partner-wrap .contact-ul li{
    display:inline-flex;
    padding: 0px 50px;
  }
  .partner-wrap .contact-ul li{
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.5s;
  }
}

@media (min-width:450px) and (max-width:768px){
  .partner-wrap .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-right: 0%;
    margin-left: 0%;
    padding-bottom: 5px;
    margin-top: -10px;
  }
  .contact-us a {
    text-decoration: none;
    color: rgb(239, 234, 234);
    font-size: 16px;
    display:inline-block;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px 20px;
  }
  .footer-02 .footer-logo .bulb img{
    position: absolute;
    right: 0%;
    width: 110px;
    height: 110px;
  }
  .partner-wrap .contact-ul li{
    display: none;
  }
  .information {
    margin-top: 30px;
    margin-left: -100px;
  }
  .information h2 {
    text-align:left;
    margin-top: -0px;
    margin-left: 50px;
  }
  .info .navbar-nav {
    margin-left: -80px;
  }
  
  .info li {
    padding-left: 20px;
  }
  .social {
    border-left:none !important;
    margin-left: -120px;
  }
  .social h2{
    margin-left: 50px;
  }
  .footer-social-link ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
  }
  .fa-gear {
    position: absolute;
    font-size: 65px;
    color: #1354AE;
  }
}

@media only screen and (max-width: 430px){
  .row-flex .content{
    display: none;
  }
  .partner-wrap{
    margin-top: -10px;
  }
  .partner-wrap .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-right: 0%;
    margin-left: 0%;
    padding-bottom: 5px;
    margin-top: -10px;
  }
  .contact-us a {
    text-decoration: none;
    color: rgb(239, 234, 234);
    font-size: 11.9px;
    display:inline-block;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px 0px;
  }
  .partner-wrap .contact-ul li{
    display: none;
  }
  .information {
    margin-top: -30px;
  }
  .info .navbar-nav{
    margin-left: -70px !important;
  }
  .footer-heading {
  text-align: center;
  margin-left: 0px;
}
  .social {
    margin-bottom:-30px !important;
    margin-top: -20px;
    margin-right: 70px;
  }
  .footer-social-link ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
  }
  .fa-gear {
    position: absolute;
    font-size: 25px;
    color: #1354AE;
  }
  .footer-02 .footer-logo img {
    width: 150px;
    height: 50px;
    margin-bottom: 30px;
  }
  .footer-02 .footer-logo .bulb img{
    position: absolute;
    right: 0%;
    width: 70px;
    height: 70px;
  }
  .gear1 {
    position: absolute;
    left: 9%;
    top: 30px;
  }
  .gear2 {
    position: absolute;
    left: 7%;
    top: 10px;
    transform: rotate(40deg);
  }
  .footer-02 .subscribe-1 .subscribe-5 .email-text {
    width: 150px !important;
    font-size: 20px;
    font-size: 15px;
  }
  .footer-02 .subscribe-1 .subscribe-5 .email-button {
     top: 5.4px;
     right:5px;
     padding: 12px 20px;

  }
  .google-map .icon {
    display: block;
  }
  .google-map .icon i{
    display: block;
  }
  .google-map .parag{
   display: block;
  }
  .google-map iframe{
    display: none;
  }
  .partner-wrap .contact span {
    font-size: 18px;
  }
  .contact-us a{
    padding: 0px 10px;
    float: center;
  }
}
@media (min-width:325px) and (max-width:375px){
  .footer-02 .footer-logo .bulb img{
    position: absolute;
    left: 310px;
    width: 60px;
    height: 60px;
    margin: 0;
  }
  .footer-02 .subscribe-1 .subscribe-5 .email-text {
    width: 120px !important;
    font-size: 20px;
    font-size: 12px;
  }
  .footer-02 .subscribe-1 .subscribe-5 .email-button {
     top: 4.2px;
     right:5px;
     padding: 12px 20px;
  }
  .contact-us a {
    text-decoration: dashed;
    color: rgb(239, 234, 234);
    font-size: 11px;
    display:inline-block !important;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 5px 0px;
  }
 
}
@media (min-width:200px) and (max-width:325px){
  .footer-02 .footer-logo .bulb img{
    position: absolute;
    left: 270px;
    width: 50px;
    height: 50px;
    margin: 0;
  }
  .footer-02 .subscribe-1 .subscribe-5 .email-text {
    width: 120px !important;
    font-size: 20px;
    font-size: 12px;
  }
  .footer-02 .subscribe-1 .subscribe-5 .email-button {
     top: 4.2px;
     right:5px;
     padding: 12px 20px;
  }
  .footer-social-link ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
  }
  .partner-wrap{
    margin-top: -10px;
  }
  .contact-us a {
    text-decoration: none;
    color: rgb(239, 234, 234);
    font-size: 11px;
    display:inline-block;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 5px 0px;
  }
}